//@HACK - fonts don't work with storage.cloud.google.com
$staticStorageUrl: "https://static.bit.dev";

/**
 * Define `@font-face` rules for font-family Circular Pro Book, including bold and italic.  
 * Provides a handy class name to add to root component.
 *
 * @example
 * import { cleanCondensed } from '@bit/bit.base-ui.theme.fonts.book';
 * //...
 *
 * <body className={cleanCondensed}>
 *   <div>I'm using font!</div>
 *   <div style={{ fontWeight: 'bold'}}>I am BOLD</div>
 * </body>
 */

// default
@font-face {
  font-family: "Adobe Clean Condensed";
  src: url("https://gitlab.com/nx-lab/assets/-/raw/main/fonts/AdobeClean-Cond.otf");
}

// italic
@font-face {
  font-family: "Adobe Clean Condensed";
  src: url("https://gitlab.com/nx-lab/assets/-/raw/main/fonts/AdobeClean-CondIt.otf");
  font-style: italic;
}

.cleanCondensed {
  font-family: "Adobe Clean Condensed", "Gill Sans", "Gill Sans MT", "Helvetica Neue", Helvetica,
    Arial, sans-serif;
}
