//@HACK - fonts don't work with storage.cloud.google.com
$staticStorageUrl: "https://static.bit.dev";

/**
 * Define `@font-face` rules for font-family Circular Pro Book, including bold and italic.  
 * Provides a handy class name to add to root component.
 *
 * @example
 * import { cleanSerif } from '@bit/bit.base-ui.theme.fonts.book';
 * //...
 *
 * <body className={cleanSerif}>
 *   <div>I'm using font!</div>
 *   <div style={{ fontWeight: 'bold'}}>I am BOLD</div>
 * </body>
 */

// default
@font-face {
  font-family: "Adobe Clean Serif";
  src: url("https://gitlab.com/nx-lab/assets/-/raw/main/fonts/AdobeCleanSerif-Regular.otf");
}

// bold
@font-face {
  font-family: "Adobe Clean Serif";
  src: url("https://gitlab.com/nx-lab/assets/-/blob/main/fonts/AdobeCleanSerif-Medium.otf");
  font-weight: bold;
}

// // bold-er
@font-face {
  font-family: "Adobe Clean Serif";
  src: url("https://gitlab.com/nx-lab/assets/-/blob/main/fonts/AdobeCleanSerif-Bold.otf");
  font-weight: 800;
}

// italic
@font-face {
  font-family: "Adobe Clean Serif";
  src: url("https://gitlab.com/nx-lab/assets/-/raw/main/fonts/AdobeCleanSerif-It.otf");
  font-style: italic;
}

// bold + italic
@font-face {
  font-family: "Adobe Clean Serif";
  src: url($staticStorageUrl + "/fonts/Adobe Clean Serif-BoldItalic.otf");
  font-style: italic;
  font-weight: bold;
}

// bold-er + italic
@font-face {
  font-family: "Adobe Clean Serif";
  src: url($staticStorageUrl + "/fonts/Adobe Clean Serif-BlackItalic.otf");
  font-style: italic;
  font-weight: 800;
}

.cleanSerif {
  font-family: "Adobe Clean Serif", "Gill Sans", "Gill Sans MT", "Helvetica Neue", Helvetica,
    Arial, sans-serif;
}
